.app-container{
  padding-top: 50px; 
}

.check{
   background-color: #F3F781;
   color: #000000;
   font-weight: bold;
}

.ok{
   background-color: #82FA58;
   color: #000000;
   font-weight: bold;
}

.ko{
   background-color: #FF0040;
   color: #FFFFFF;
   font-weight: bold;
}